<%- include('header') %>
<div class="result">
    <% if(error){ %>
        <%= error %>
    <% }else{ %>
        <%= quantidade %> dólares na cotação R$
        <%= cotacao %>/US$ é igual a: R$ 
        <%= conversao %>
    <% } %>
    <p><a href='/'><button class="button2 rounded">Voltar</button></a>
    </p>
    </div>
<%- include('footer') %>