<%- include('header') %>
<div class="result">
    <% if(error){ %>
        <%= error %>
    <% }else{ %>
        <%= quantidade %> dólares na cotação R$
        <%= cotacao %>/US$ é igual a: R$ 
        <%= conversao %>
    <% } %>
</div>
<%- include('footer') %>